<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>FunHouse Cinema Movie Showings!</h1>
    <table>
      <% for (const movie in movieDatabase) { %>
      <tr>
        <td>
          <a href="/movies/<%= movie %>"><%= movieDatabase[movie].title %></a>
        </td>
        <td><%= movieDatabase[movie].year %></td>
      </tr>
      <% } %>
      <!-- closing for in -->
    </table>
    <a href="/movies/new">Create new listing</a>
  </body>
</html>
