<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add new movie listing</h1>

    <form method="POST" action="/movies">
      <label
        >Movie Key
        <input name="key" />
      </label>
      <label
        >Title

        <input name="title" />
      </label>
      <label
        >Year

        <input name="year" />
      </label>
      <button>Save</button>
    </form>
  </body>
</html>
